.descriptionBlock{
    padding: 10px;

}
.picture img{
    width: 400px;
    height: auto;
}
.descriptionBlock img{
    width: 100px;
    height: auto;
    border-radius: 50%;

}
h2 {
    margin:0
}
.contacts{
    padding-left: 10px;
}