.dialogs{
    display:grid;
    grid-template-columns: 2fr 10fr ;
}
.dialogItems{
    padding: 10px;

}
.dialogItems .active{
    color: blueviolet;
}
.dialog{

}
.messages{
    padding:10px;

}
img{
    height: 30px;
}
.buttonAndInput{

}
.buttonAndInput button{
    height: 40px;
    width: 70px;
    background-color: dodgerblue;
}
.buttonAndInput input{
    min-width: 250px;

}
.message{

}